$text-pink-color: #D05382;
$border-pink-color: #FFDEE2;
$background-pink-color: #FFF0F6;
$icon-pink-color: #FF8BA4;
$hover-pink-color: #FFE3E8;

$text-blue-color: #7558CD;
$border-blue-color: #E5DEFF;
$background-blue-color: #F3F0FF;
$icon-blue-color: #9876FA;
$hover-blue-color: #E8E1FF;

$text-green-color: #2D7749;
$border-green-color: #BBF7D0;
$background-green-color: #DCFCE7;
$icon-green-color: #22C55E;
$hover-green-color: #BBF7D0;

$text-orange-color: #CA5C3F;
$border-orange-color: #FFE2D6;
$background-orange-color: #FFF0EB;
$icon-orange-color: #FF8B67;
$hover-orange-color: #FFE2D6;

$border-radius: 1rem;