@use "./variables" as *;

.asyncSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.inputSelect {
  width: 100%;
  font-size: var(--font-size-base);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  transition: border-color var(--transition-duration) var(--transition-ease);

  &:focus {
    border-color: var(--hover-pink-color);
    box-shadow: 0 0 4px rgba(var(--hover-pink-color-rgb), 0.5);
  }

  &::placeholder {
    color: var(--text-color);
    font-size: var(--font-size-small);
  }
}