@use './variables' as *;

.formGroup {
  margin-bottom: 20px; // Espacement ajusté pour correspondre au design global
}

.label {
  display: block;
  font-size: 0.95rem; // Taille légèrement augmentée
  font-weight: 600; // Poids ajusté pour correspondre au style global
  margin-bottom: 8px; // Espacement ajusté
  color: $text-color;
}

.input {
  width: 100%;
  padding: 10px 12px; // Espacement interne ajusté
  font-size: 0.95rem;
  border: 1px solid #ccc;
  border-radius: $border-radius;
  transition: border-color 0.3s, box-shadow 0.3s;

  &:focus {
    border-color: $primary-color;
    box-shadow: 0 0 4px rgba($primary-color, 0.5);
    outline: none;
  }

  &:hover {
    border-color: $primary-hover; // Couleur au survol
  }
}